# Personality Classifier

#### Life cycle of Machine learning Project

- Understanding the Problem Statement
- Data Collection
- Data Checks to perform
- Exploratory data analysis
- Data Pre-Processing
- Model Training
- Choose best model

### 1) Problem statement
- This project understands how companies can hire based on the personalities of candidates.


### 2) Data Collection
- Dataset Source - https://www.kaggle.com/datasets/tunguz/big-five-personality-test/data
<!-- - The data consists of 8 column and 1000 rows. -->

# 2.1 Data Collection

In [3]:
import pandas as pd
df_train=pd.read_csv("data/personiphy-data/data-final.csv", sep='\t')

In [4]:
df_train.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6,1,GB,51.5448,0.1991
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11,1,MY,3.1698,101.706
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7,1,GB,54.9119,-1.3833
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7,1,GB,51.75,-1.25
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,2016-03-03 02:02:57,1366.0,768.0,8.0,315.0,17,2,KE,1.0,38.0

In [5]:
df_train.shape

(1015341, 110)

In [6]:
from pycaret.regression import *

In [7]:
categoricals=["date","state","store","product","I feel little concern for others.",
"I am interested in people.",
"I insult people.",
"I sympathize with others' feelings."
"I am not interested in other people's problems.",
"I have a soft heart.",
"I am not really interested in others.",
"I take time out for others.",
"I feel others emotions.",
"I make people feel at ease.",
"I am always prepared.",
"I leave my belongings around.",
"I pay attention to details.",
"I make a mess of things.",
"I get chores done right away.",
"I often forget to put things back in their proper place.",
"I like order.",
"I shirk my duties.",
"I follow a schedule.",
"I am exacting in my work.",
"I have a rich vocabulary.",
"I have difficulty understanding abstract ideas.",
"I have a vivid imagination."
"I am not interested in abstract ideas.",
"I have excellent ideas."
"I do not have a good imagination.",
"I am quick to understand things.",
"I use difficult words.",
"I spend time reflecting on things.",
	"I am full of ideas."]
ignore=['row_id']
numericals=['num_sold']